<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="ConnectionString"
			 connectionString="Server=.;Database=DVLD;User Id=sa;Password=Aa&amp;/98;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="EmailFrom" value="dvld.projet@gmail.com" />
		<add key="EmailAppPassword" value="lqsq qjlk mhoa otyo" />
		<add key="EmailDisplayName" value="DVLD System" />
	</appSettings>

</configuration>